Гоголь Н. В. "Мертвые души" 10
Гоголь Н. В. "Нос" 3
Гоголь Н. В. "Ревизор" 7
Лермонтов М. Ю. "Мцыри" 1
Лермонтов М. Ю. "Герой нашего времени" 5
Пушкин А. С. "Капитанская дочка" 9
Пушкин А. С. "Повести Белкина" 12
Пушкин А. С. "Сказки" 16
Пушкин А. С. "Стихотворения" 6
Толстой Л. Н. "Воскресение" 7
Толстой Л.Н. "Анна Каренина" 6
Толстой Л. Н. "Война и мир. Том 1" 4
Толстой Л. Н. "Война и мир. Том 2" 6
Толстой Л. Н. "Война и мир. Том 3" 10
Толстой Л. Н. "Война и мир. Том 4" 13
