#Функция выводит весь ассортимент библиотеки в виде таблицы и записывает ее в файл

def assort(fail):
    f = open(fail, 'r')
    books = f.readlines()
    print('+',25*'-','+',25*'-','+',5*'-','+')
    path = 'rez.txt' #файл, в который записалась таблица
    g = open(path,'w')
    g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' + '\n')

    for i in range (len(books)):
        s1 = ""; #автор
        s2 = "\""; #название
        s3 = ""; #количество
        j = 0
        while (books[i][j] != '\"'):
            s1 += books[i][j]
            j +=1
        s1 = s1[:-1]
        j += 1
        while (books[i][j] != '\"'):
            s2 += books[i][j]
            j +=1
        s2 += books[i][j]
        j += 2
        while (books[i][j] != '\n'):
            s3 += books[i][j]
            j +=1
        print('|{0:27}|{1:27}|{2:7}|'.format(s1, s2, s3))
        g.write('|{0:25}|{1:25}|{2:5}|'.format(s1, s2, s3)+ '\n')
        print('+',25*'-','+',25*'-','+',5*'-','+')
        g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' + '\n')

    f.close()
    g.close()

#Функция осуществляtn поиск по автору

def auth(auth):
    f = open('book.txt', 'r')
    books = f.readlines()
    path = 'rez.txt' #файл, в который запишетcя результат
    g = open(path,'w')
    k = 0 #счетчик результатов поиска
    for i in range (len(books)):
        s1 = ""; #автор
        s2 = "\""; #название
        s3 = ""; #количество
        j = 0
        while (books[i][j] != '\"'):
            s1 += books[i][j]
            j +=1
        s1 = s1[:-1]
        j += 1
        while (books[i][j] != '\"'):
            s2 += books[i][j]
            j +=1
        s2 += books[i][j]
        j += 2
        while (books[i][j] != '\n'):
            s3 += books[i][j]
            j +=1
        
        if auth in s1:
            k += 1
            if (k == 1):
                print('+',25*'-','+',25*'-','+',5*'-','+')
                g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' + '\n')
            print('|{0:27}|{1:27}|{2:7}|'.format(s1, s2, s3))
            g.write('|{0:25}|{1:25}|{2:5}|'.format(s1, s2, s3)+ '\n')
            print('+',25*'-','+',25*'-','+',5*'-','+')
            g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' + '\n')
    if (k == 0): print('По вашему запросу ничего не найдено.')
    g.close()
    f.close()

#Функция осуществляет поиск по названию

def book(book):
    f = open('book.txt', 'r')
    books = f.readlines()
    path = 'rez.txt' #файл, в который запишетcя результат
    g = open(path,'w')
    k = 0 #счетчик результатов поиска
    for i in range (len(books)):
        s1 = ""; #автор
        s2 = "\""; #название
        s3 = ""; #количество
        j = 0
        while (books[i][j] != '\"'):
            s1 += books[i][j]
            j +=1
        s1 = s1[:-1]
        j += 1
        while (books[i][j] != '\"'):
            s2 += books[i][j]
            j +=1
        s2 += books[i][j]
        j += 2
        while (books[i][j] != '\n'):
            s3 += books[i][j]
            j +=1
        
        if book in s2:
            k += 1
            if (k == 1):
                print('+',25*'-','+',25*'-','+',5*'-','+')
                g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' + '\n')
            print('|{0:27}|{1:27}|{2:7}|'.format(s1, s2, s3))
            g.write('|{0:25}|{1:25}|{2:5}|'.format(s1, s2, s3)+ '\n')
            print('+',25*'-','+',25*'-','+',5*'-','+')
            g.write('+' + 25*'-' + '+' + 25*'-' + '+' + 5*'-' + '+' +'\n')
    if (k == 0): print('По вашему запросу ничего не найдено')
    g.close()
    f.close()

#Функция считает общее количество книг в библиотеке
    
def KolKn():
    f = open('book.txt', 'r')
    books = f.readlines()
    path = 'rez.txt' #файл, в который запишетcя результат
    g = open(path,'w')
    kol = 0
    
    for i in range (len(books)):
        w = len(books[i])-1
        t = 0
        while books[i][w] != ' ':
            t += 1
            w -= 1
        s3 = books[i][-t:]
        s3 = int(s3)
        kol += s3
        
    g.write('Общее количество книг в библиотеке: ' + str(kol))
    print('Общее количество книг в библиотеке: ', kol)
    g.close()
    f.close()

#Меню

while True:
    print('Библиотека "Кенекесем"')
    print('0 - посмотреть весь ассортимент')
    print('1 - поиск по автору')
    print('2 - поиск по названию')
    print('3 - общее количество книг в библиотеке')
    print('4 - выход')
    try:
        x = int(input('Выбор: '))
        if x == 0:
            print('весь ассортимент')
            assort('book.txt')
        else:
            if x == 1:
                print ('Введите нужного автора (с заглавной буквы) ')
                d = input()
                print('поиск по автору')
                auth(d)
            else:
                if x == 2:
                    print('поиск по названию')
                    print ('Введите нужное произведение (с заглавной буквы)')
                    bo = input()
                    book(bo)
                    
                else:
                    if x == 3:
                        KolKn()
                    else:
                        if x == 4:
                            print("выход")
                            break
                        else:
                            print('Неверный запрос. Попробуйте снова')

    except ValueError:
        print('Такого варианта нет. Попробуйте снова.')

